mariadb:
  user: ""
  password: ""
  host: ""
  port: 3306
  database: ""
elasticsearch:
  host: ""
  cert: ""
  scores_index: "wordle-scores"
  players_index: "wordle-players"
  enriched_index: "wordle-enriched"
  api_key: ""